# 데이터셋 경로 설정
# Windows 예시:
# DATASET_BASE_PATH=C:\Users\o\Desktop\graduate\plsgraduate\dataset_causRCA
#
# Linux/GCP 예시:
# DATASET_BASE_PATH=/home/jinsung0328/plsgraduate/dataset_causRCA

DATASET_BASE_PATH=/home/jinsung0328/plsgraduate/dataset_causRCA
